<div class="ui container">
	
	<div class="top attached inverted grey ui header segment">
		User Data
	</div>
	<div class="attached ui segment">
		Create a new instance of a model
	</div>
	<div class="attached ui header segment">
		Code
	</div>
	<div class="attached ui segment">
		<?php highlight_file( Simpleton\view('doc/code/model') ); ?>
	</div>
	<div class="attached ui header segment">
		Output
	</div>
	<div class="bottom attached ui segment">
		<pre><?php print_r( $user->toArray() ); ?></pre>
	</div>
	
</div>