<section class="ui container">
	
	<div class="error icon ui message">
		<i class="warning sign icon"></i>
		<div class="content">
			<h1 class="header">An error has occurred.</h1>
			<p>
				<?=$exception->getMessage()?>
			</p>
		</div>
	</div>
	
</section>