<div class="masthead center aligned">
	<a class="black ui label" href="//bitbucket.org/dwightbcoder/simpleton">1.1</a>
	<h1>
		Simpleton
	</h1>
	<span>A lightweight MVC framework for PHP</span>
</div>

<div class="ui text container">
	<h2>Why Simpleton?</h2>
	<p>
		Develop what you want, the way you want to.
	</p>
	<p>
		Designed for ultimate simplicity, Simpleton helps you get started with PHP MVC and routing quickly and simply with zero required configuration.
	</p>
	<p>
		Rather than be yet another suite of libraries for every purpose Simpleton aims
		to offer a simple solution with very little learning curve.
	</p>
	
	<h2>Features</h2>
	<p>
		At it's core Simpleton provides a simple structure for storing and executing your controllers and accessing them via simple URL routing.
	</p>
	<p>
		<ul>
			<li>Zero configuration required but fully configurable</li>
			<li>Simplifies setting up a common MVC structure</li>
			<li>Separate your public assets from your application code</li>
			<li>Access your controllers via simple URL routing</li>
			<li>Programmatically execute controller methods</li>
			<li>Use standard PHP includes for loading views and layouts</li>
			<li>Autoload models and libraries</li>
			<li>Simple event system for creating and using hookable events with modifiable data</li>
			<li>Helpers for easily disabling browser cache and detecting an AJAX request</li>
			<li>Graceful error handling; hookable using the built-in event system</li>
		</ul>
	</p>
	
	<h2>Documentation</h2>
	<p>
		PHP-style <a href="/doc">documentation</a> available with examples.
	</p>
	
</div>
