<table class="small compact striped ui table">
	<thead>
		<tr>
			<th>Option</th>
			<th>Default</th>
			<th>Description</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>autoload</td>
			<td>TRUE</td>
			<td>
				Enable/disable autoloading.<br>
				If enabled obeys type-specific settings (below)
			</td>
		</tr>
		<tr>
			<td>autoload_controller</td>
			<td>TRUE</td>
			<td>Auto load controllers</td>
		</tr>
		<tr>
			<td>autoload_model</td>
			<td>TRUE</td>
			<td>Auto load models</td>
		</tr>
		<tr>
			<td>autoload_library</td>
			<td>TRUE</td>
			<td>Auto load libraries</td>
		</tr>
		
		<tr>
			<td>separator_path</td>
			<td>"_"</td>
			<td>
				The character to replace with <kbd>DIRECTORY_SEPARATOR</kbd> when generating paths.<br>
				<em>e.g. A path to a model named "local_user" would be <kbd>application/models/local/user.php</kbd></em>
			</td>
		</tr>
		<tr>
			<td>separator_controller</td>
			<td>"-"</td>
			<td>Allow controller routes to use an additional separator so a route like "/admin_user/edit" could be written as "/admin-user/edit"</td>
		</tr>
			
		<tr>
			<td>request_update</td>
			<td>TRUE</td>
			<td>When enabled <kbd>$_REQUEST</kbd> will be updated to contain 'route', 'controller', and 'method' keys of the actual routed controller/method</td>
		</tr>
		<tr>
			<td>method_default</td>
			<td>"index"</td>
			<td>The default controller method to invoke if none is set</td>
		</tr>
		<tr>
			<td>controller_default</td>
			<td>"index"</td>
			<td>The default controller to load if none is specified</td>
		</tr>
		<tr>
			<td>controller_error</td>
			<td>"error"</td>
			<td>The controller to load when displaying errors automatically (uses the <kbd>method_default</kbd> option)</td>
		</tr>
		
		<tr>
			<td>handle_fatal</td>
			<td>FALSE</td>
			<td>If fatal errors should be caught and handled (uses <kbd>register_shutdown_function()</kbd>)</td>
		</tr>
		<tr>
			<td>handle_exception</td>
			<td>TRUE</td>
			<td>If exceptions should be handled</td>
		</tr>
		<tr>
			<td>handle_error</td>
			<td>TRUE</td>
			<td>If non-fatal errors should be handled</td>
		</tr>
		
		<tr>
			<td>path</td>
			<td>..</td>
			<td>Application path where the model/view/controller/layout/library folders live</td>
		</tr>
		<tr>
			<td>folder_model</td>
			<td>"models"</td>
			<td>Base folder for models (inside <kbd>path</kbd>)</td>
		</tr>
		<tr>
			<td>folder_view</td>
			<td>"views"</td>
			<td>Base folder for views (inside <kbd>path</kbd>)</td>
		</tr>
		<tr>
			<td>folder_controller</td>
			<td>"controllers"</td>
			<td>Base folder for controllers (inside <kbd>path</kbd>)</td>
		</tr>
		<tr>
			<td>folder_layout</td>
			<td>"layouts"</td>
			<td>Base folder for layouts (inside <kbd>path</kbd>)</td>
		</tr>
		<tr>
			<td>folder_library</td>
			<td>"libraries"</td>
			<td>Base folder for libraries (inside <kbd>path</kbd>)</td>
		</tr>
	</tbody>
</table>