<div class="ui text container">
	
	<h1 class="ui dividing header">Documentation</h1>
	
	<h2 class="ui dividing header">Library reference</h2>
	<ul>
		<li>
			<a href="/doc/Simpleton/System">Simpleton</a>
			<p>Core framework</p>
		</li>
	</ul>	
	
<!--
	<h2 class="ui dividing header">Class references</h2>
	<ul>
		<li>
			<a href="/doc/Simpleton/Model">Simpleton\Model</a>
			<p>Optional data model class</p>
		</li>
		<li>
			<a href="/doc/Simpleton/ModelMapper">Simpleton\ModelMapper</a>
			<p>Optional database mapper class</p>
		</li>
	</ul>	
-->
	
</div>