<div class="ui text container">
	<h1 class="ui dividing header">The ModelMapper class</h1>
	<p class="small">
		(PHP 5 &gt;= 5.4.0)
	</p>
	
	<h2 class="ui dividing header">Introduction</h2>
	<p class="ui message">
		Coming soon
	</p>
	
	<h2 class="ui dividing header">Class synopsis</h2>
	<p class="ui message">
		Coming soon
	</p>
	
	<h2 class="ui dividing header">Table of Contents</h2>
	<p class="ui message">
		Coming soon
	</p>
	
</div>
