<div class="ui text container">
	
	<h1 class="dividing ui header"><a href="./">Simpleton\</a>ajax</h1>
	<p>
		Simpleton\ajax &mdash; Get/set if this is an AJAX request
	</p>

	<h2 class="dividing ui header">Description</h2>
	<p class="ui segment">
		<code data-language="php">bool Simpleton\ajax( [bool $ajax] )</code>
	</p>
	<p>
		Get/set if this is an AJAX request.
	</p>
	
	<h2 class="dividing ui header">Parameters</h2>
	<p>
		<dl>
			<dt><strong><kbd>ajax</kbd></strong></dt>
			<dd>Force ajax on or off</dd>
		</dl>
	</p>
	
	<h2 class="dividing ui header">Return Values</h2>
	<p>
		<ol>
			<li>Manually set value</li>
			<li>If <kbd>HTTP_X_REQUESTED_WITH</kbd> is set, <kbd>TRUE</kbd> if when set to <kbd>"xmlhttprequest"</kbd> otherwise <kbd>FALSE</kbd></li>
			<li><kbd>$GLOBALS['ajax']</kbd></li>
			<li><kbd>$_REQUEST['ajax']</kbd></li>
			<li><kbd>FALSE</kbd></li>
		</ol>
	</p>
	
	<h2 class="dividing ui header">Examples</h2>
	<div class="ui segment">
<pre><code data-language="php">$data = [ 'id' => 1, 'user' => 'jdoe' ];

if ( Simpleton\ajax() )
{
	$data = json_encode( $data );
}</code></pre>
	</div>
	
	<h2 class="dividing ui header">See Also</h2>
	<p>
		<ul>
			<li><a href="/doc/Simpleton/System/noCache">Simpleton\noCache</a> &mdash; Send a full set of no-cache HTTP headers</li>
		</ul>
	</p>
	
</div>