<div class="ui text container">
	
	<h1 class="dividing ui header"><a href="./">Simpleton\</a>bootstrap</h1>
	<p>
		Simpleton\bootstrap &mdash; Automatically process current route
	</p>

	<h2 class="dividing ui header">Description</h2>
	<p class="ui segment">
		<code data-language="php">mixed Simpleton\bootstrap()</code>
	</p>
	<p>
		Auto route to either <kbd>$_GET['route']</kbd> or the default route.
		Returns the controller method return value.
	</p>
	<p class="info ui message">
		Intended for use in <kbd>index.php</kbd> in the public docs folder alongside an <kbd>.htaccess</kbd> that sets <kbd>$_GET['route']</kbd> and redirects back to <kbd>index.php</kbd>
	</p>
	
	<h2 class="dividing ui header">Return Values</h2>
	<p>
		Controller method return value
	</p>
	
	<h2 class="dividing ui header">Examples</h2>
	<div class="ui segment">
		<code data-language="php">Simpleton\bootstrap();</code>
	</div>
	
	<h2 class="dividing ui header">See Also</h2>
	<p>
		<ul>
			<li><a href="./call">Simpleton\call</a> &mdash; Manually call controller method</li>
			<li><a href="./route">Simpleton\route</a> &mdash; Manually execute a route</li>
			<li><a href="./controller">Simpleton\controller</a> &mdash; Get controller path</li>
		</ul>
	</p>
	
</div>