<div class="ui text container">
	
	<h1 class="dividing ui header"><a href="./">Simpleton\</a>call</h1>
	<p>
		Simpleton\call &mdash; Manually call controller method
	</p>

	<h2 class="dividing ui header">Description</h2>
	<p class="ui segment">
		<code data-language="php">mixed Simpleton\call( string $controller, string $method [, array $data] )</code>
	</p>
	<p>
		Manually load a controller method and optionally pass it data.
		Returns the controller method return value.
	</p>
	<p class="info ui message">
		Used internally by route().
	</p>
	
	<h2 class="dividing ui header">Parameters</h2>
	<p>
		<dl>
			<dt><strong><kbd>controller</kbd></strong></dt>
			<dd>Controller name</dd>
			
			<dt><strong><kbd>method</kbd></strong></dt>
			<dd>Method name</dd>
			
			<dt><strong><kbd>data</kbd></strong></dt>
			<dd>Array of data to pass to controller method</dd>
		</dl>
	</p>
	
	<h2 class="dividing ui header">Return Values</h2>
	<p>
		Controller method return value
	</p>
	
	<h2 class="dividing ui header">Examples</h2>
	<p class="ui segment">
		<code data-language="php">$user = Simpleton\call( 'user', 'get', ['id' => 1] );</code>
	</p>
	
	<h2 class="dividing ui header">See Also</h2>
	<p>
		<ul>
			<li><a href="./bootstrap">Simpleton\bootstrap</a> &mdash; Automatically process current route</li>
			<li><a href="./route">Simpleton\route</a> &mdash; Manually execute a route</li>
			<li><a href="./controller">Simpleton\controller</a> &mdash; Get controller path</li>
		</ul>
	</p>
	
</div>