<div class="ui text container">
	
	<h1 class="dividing ui header"><a href="./">Simpleton\</a>controller</h1>
	<p>
		Simpleton\controller &mdash; Get controller path
	</p>

	<h2 class="dividing ui header">Description</h2>
	<p class="ui segment">
		<code data-language="php">string Simpleton\controller( string $controller )</code>
	</p>
	<p>
		Get path to specified controller. <em>(Typically unnecessary as controllers autoload by default.)</em>
	</p>
	
	<h2 class="dividing ui header">Parameters</h2>
	<p>
		<dl>
			<dt><strong><kbd>controller</kbd></strong></dt>
			<dd>The controller to get the path to</dd>
		</dl>
	</p>
	
	<h2 class="dividing ui header">Return Values</h2>
	<p>
		Returns the path to the specified controller.
	</p>
	
	<h2 class="dividing ui header">Examples</h2>
	<div class="ui segment">
<pre><code data-language="php">include Simpleton\controller( 'example' );</code></pre>
	</div>
	
	<h2 class="dividing ui header">See Also</h2>
	<p>
		<ul>
			<li><a href="./model">Simpleton\model</a> &mdash; Get model path</li>
			<li><a href="./layout">Simpleton\layout</a> &mdash; Get layout path</li>
			<li><a href="./library">Simpleton\library</a> &mdash; Get library path</li>
			<li><a href="./view">Simpleton\view</a> &mdash; Get view path</li>
			<li><a href="./bootstrap">Simpleton\bootstrap</a> &mdash; Automatically process current route</li>
			<li><a href="./call">Simpleton\call</a> &mdash; Manually call controller method</li>
			<li><a href="./route">Simpleton\route</a> &mdash; Manually execute a route</li>
		</ul>
	</p>
	
</div>