<div class="ui text container">
	<h1 class="ui dividing header">The Simpleton library</h1>
	<p class="small">
		(PHP 5 &gt;= 5.3)
	</p>
	
	<h2 class="ui dividing header">Introduction</h2>
	<p>
		Handles routing, events, autoloading, and errors/exceptions.
	</p>
	
	<h2 class="ui dividing header">Overview</h2>
	<div class="ui segment">
<pre><code data-language="php">bool   Simpleton\ajax( [bool $ajax] )
mixed  Simpleton\bootstrap()
mixed  Simpleton\call( string $controller, string $method [, array $data] )
string Simpleton\controller( string $controller )
string Simpleton\layout( string $layout )
string Simpleton\library( string $library )
string Simpleton\model( string $model )
void   Simpleton\noCache()
void   Simpleton\off( string $event, callable $callback )
void   Simpleton\on( string $event, callable $callback )
mixed  Simpleton\option( [string $key [, mixed $value]] )
mixed  Simpleton\route( [string $route [, array $data]] )
mixed  Simpleton\trigger( string $event [, array $arguments] )
string Simpleton\view( string $view )
</code></pre>
	</div>
	
	<h2 class="ui dividing header">Table of Contents</h2>
	
	<ul>
		<li>
			Helpers
			<ul>
				<li><a href="/doc/Simpleton/System/ajax">Simpleton\ajax</a> &mdash; Get/set if this is an AJAX request</li>
				<li><a href="/doc/Simpleton/System/bootstrap">Simpleton\bootstrap</a> &mdash; Automatically process current route</li>
				<li><a href="/doc/Simpleton/System/call">Simpleton\call</a> &mdash; Manually call controller method</li>
				<li><a href="/doc/Simpleton/System/noCache">Simpleton\noCache</a> &mdash; Send a full set of no-cache HTTP headers</li>
				<li><a href="/doc/Simpleton/System/route">Simpleton\route</a> &mdash; Manually execute a route</li>
			</ul>
		</li>
		<li>
			Events
			<ul>
				<li><a href="/doc/Simpleton/System/on">Simpleton\on</a> &mdash; Attach an event handler</li>
				<li><a href="/doc/Simpleton/System/off">Simpleton\off</a> &mdash; Remove an event handler</li>
				<li><a href="/doc/Simpleton/System/trigger">Simpleton\trigger</a> &mdash; Execute all attached event handlers</li>
			</ul>
		</li>
		<li>
			Paths
			<ul>
				<li><a href="/doc/Simpleton/System/controller">Simpleton\controller</a> &mdash; Get controller path</li>
				<li><a href="/doc/Simpleton/System/model">Simpleton\model</a> &mdash; Get model path</li>
				<li><a href="/doc/Simpleton/System/layout">Simpleton\layout</a> &mdash; Get layout path</li>
				<li><a href="/doc/Simpleton/System/library">Simpleton\library</a> &mdash; Get library path</li>
				<li><a href="/doc/Simpleton/System/view">Simpleton\view</a> &mdash; Get view path</li>
			</ul>
		</li>
		<li>
			Options
			<ul>
				<li><a href="/doc/Simpleton/System/option">Simpleton\option</a> &mdash; Get/set configuration options</li>
			</ul>
		</li>
	</ul>

</div>
