<div class="ui text container">
	
	<h1 class="dividing ui header"><a href="./">Simpleton\</a>layout</h1>
	<p>
		Simpleton\controller &mdash; Get layout path
	</p>

	<h2 class="dividing ui header">Description</h2>
	<p class="ui segment">
		<code data-language="php">string Simpleton\layout( string $layout )</code>
	</p>
	<p>
		Get path to specified layout.
	</p>
	
	<h2 class="dividing ui header">Parameters</h2>
	<p>
		<dl>
			<dt><strong><kbd>layout</kbd></strong></dt>
			<dd>The layout to get the path to</dd>
		</dl>
	</p>
	
	<h2 class="dividing ui header">Return Values</h2>
	<p>
		Returns the path to the specified layout.
	</p>
	
	<h2 class="dividing ui header">Examples</h2>
	<div class="ui segment">
<pre><code data-language="php">include Simpleton\layout( 'example' );</code></pre>
	</div>
	
	<h2 class="dividing ui header">See Also</h2>
	<p>
		<ul>
			<li><a href="/doc/Simpleton/System/controller">Simpleton\controller</a> &mdash; Get controller path</li>
			<li><a href="/doc/Simpleton/System/model">Simpleton\model</a> &mdash; Get model path</li>
			<li><a href="/doc/Simpleton/System/library">Simpleton\library</a> &mdash; Get library path</li>
			<li><a href="/doc/Simpleton/System/view">Simpleton\view</a> &mdash; Get view path</li>
		</ul>
	</p>
	
</div>