<div class="ui text container">
	
	<h1 class="dividing ui header"><a href="./">Simpleton\</a>library</h1>
	<p>
		Simpleton\library &mdash; Get library path
	</p>

	<h2 class="dividing ui header">Description</h2>
	<p class="ui segment">
		<code data-language="php">string Simpleton\library( string $library )</code>
	</p>
	<p>
		Get path to specified library. <em>(Typically unnecessary as libraries autoload by default.)</em>
	</p>
	
	<h2 class="dividing ui header">Parameters</h2>
	<p>
		<dl>
			<dt><strong><kbd>library</kbd></strong></dt>
			<dd>The library to get the path to</dd>
		</dl>
	</p>
	
	<h2 class="dividing ui header">Return Values</h2>
	<p>
		Returns the path to the specified library.
	</p>
	
	<h2 class="dividing ui header">Examples</h2>
	<div class="ui segment">
<pre><code data-language="php">include Simpleton\library( 'example' );</code></pre>
	</div>
	
	<h2 class="dividing ui header">See Also</h2>
	<p>
		<ul>
			<li><a href="/doc/Simpleton/System/controller">Simpleton\controller</a> &mdash; Get controller path</li>
			<li><a href="/doc/Simpleton/System/model">Simpleton\model</a> &mdash; Get model path</li>
			<li><a href="/doc/Simpleton/System/layout">Simpleton\layout</a> &mdash; Get layout path</li>
			<li><a href="/doc/Simpleton/System/view">Simpleton\view</a> &mdash; Get view path</li>
		</ul>
	</p>
	
</div>