<div class="ui text container">
	
	<h1 class="dividing ui header"><a href="./">Simpleton\</a>noCache</h1>
	<p>
		Simpleton\noCache &mdash; Send a full set of no-cache HTTP headers
	</p>

	<h2 class="dividing ui header">Description</h2>
	<p class="ui segment">
		<code data-language="php">void Simpleton\noCache()</code>
	</p>
	<p>
		Send a full set of no-cache HTTP headers.
	</p>
	
	<h2 class="dividing ui header">Examples</h2>
	<div class="ui segment">
		<code data-language="php">Simpleton\noCache();</code>
	</div>
	
	<h2 class="dividing ui header">See Also</h2>
	<p>
		<ul>
			<li><a href="./ajax">Simpleton\ajax</a> &mdash; Get/set if this is an AJAX request</li>
		</ul>
	</p>
	
</div>