<div class="ui text container">
	
	<h1 class="dividing ui header"><a href="./">Simpleton\</a>off</h1>
	<p>
		Simpleton\off &mdash; Remove an event handler
	</p>

	<h2 class="dividing ui header">Description</h2>
	<p class="ui segment">
		<code data-language="php">bool Simpleton\off( string $event, callable $callback )</code>
	</p>
	<p>
		Attach an event handler.
	</p>
	
	<h2 class="dividing ui header">Parameters</h2>
	<p>
		<dl>
			<dt><strong><kbd>event</kbd></strong></dt>
			<dd>The name of the event to remove the handler from.</dd>
			
			<dt><strong><kbd>callback</kbd></strong></dt>
			<dd>
				A callback previously attached using <a href="./on">Simpleton\on()</a>
			</dd>
		</dl>
	</p>
	
	<h2 class="dividing ui header">Return Values</h2>
	<p>
		Returns TRUE if the callback was removed or FALSE if the callback was not found.
	</p>
	
	<h2 class="dividing ui header">Examples</h2>
	<div class="ui segment">
<pre><code data-language="php">class CustomLabel
{
	function customHandler( $args )
	{
		list( $label ) = $args;
		$label = strtoupper( $label );
	}
}

Simpleton\on( 'format_label', 'CustomLabelSimpleton\customHandler' );
Simpleton\off( 'format_label', 'CustomLabelSimpleton\customHandler' );

$label = 'test label';
Simpleton\trigger( 'format_label', array($label) );

echo $label; // Prints test label</code></pre>
	</div>
	
	<h2 class="dividing ui header">See Also</h2>
	<p>
		<ul>
			<li><a href="./on">Simpleton\on</a> &mdash; Attach an event handler</li>
			<li><a href="./trigger">Simpleton\trigger</a> &mdash; Execute all attached event handlers</li>
		</ul>
	</p>
	
</div>