<div class="ui text container">
	
	<h1 class="dividing ui header"><a href="./">Simpleton\</a>on</h1>
	<p>
		Simpleton\on &mdash; Attach an event handler
	</p>

	<h2 class="dividing ui header">Description</h2>
	<p class="ui segment">
		<code data-language="php">bool Simpleton\on( string $event, callable $callback )</code>
	</p>
	<p>
		Attach an event handler.
	</p>
	
	<h2 class="dividing ui header">Parameters</h2>
	<p>
		<dl>
			<dt><strong><kbd>event</kbd></strong></dt>
			<dd>The name of the event to attach the handler to.</dd>
			
			<dt><strong><kbd>callback</kbd></strong></dt>
			<dd>
				A <a href="http://php.net/manual/en/language.types.callable.php" target="_blank">callable <i class="external tiny icon"></i></a> handler to be executed when the target event is triggered.<br>
				<br>
				Handlers may be sent arguments, sent as an array of variables by reference.
			</dd>
		</dl>
	</p>
	
	<h2 class="dividing ui header">Return Values</h2>
	<p>
		Returns TRUE on success or FALSE on failure.
		If the callback is not <a href="http://php.net/manual/en/language.types.callable.php" target="_blank">callable <i class="external tiny icon"></i></a>
		an <a href="http://php.net/manual/en/class.exception.php" target="_blank">Exception <i class="external tiny icon"></i></a> will be thrown.
	</p>
	
	<h2 class="dividing ui header">Examples</h2>
	<div class="ui segment">
<pre><code data-language="php">class CustomLabel
{
	function customHandler( $args )
	{
		list( $label ) = $args;
		$label = strtoupper( $label );
	}
}

Simpleton\on( 'format_label', 'CustomLabelSimpleton\customHandler' );

$label = 'test label';
Simpleton\trigger( 'format_label', array($label) );

echo $label; // Prints TEST LABEL</code></pre>
	</div>
	
	<h2 class="dividing ui header">See Also</h2>
	<p>
		<ul>
			<li><a href="./off">Simpleton\off</a> &mdash; Remove an event handler</li>
			<li><a href="./trigger">Simpleton\trigger</a> &mdash; Execute all attached event handlers</li>
		</ul>
	</p>
	
</div>