<div class="ui text container">
	
	<h1 class="ui dividing header">Simpleton Options</h1>
	<p>
		By default Simpleton is ready to use out of the box with zero configuration.
	</p>
	<p>
		To set a custom option use:
		<ul>
			<li><a href="/doc/Simpleton/System/option">Simpleton\option</a></li>
		</ul>
	</p>

</div>
