<div class="ui text container">
	
	<h1 class="dividing ui header"><a href="./">Simpleton\</a>option</h1>
	<p>
		Simpleton\option &mdash; Get/set configuration options
	</p>

	<h2 class="dividing ui header">Description</h2>
	<p class="ui segment">
		<code data-language="php">mixed Simpleton\option( [string $key [, mixed $value]] )</code>
	</p>
	<p>
		Get/set configuration options
	</p>
	
	<h2 class="dividing ui header">Parameters</h2>
	<?php include Simpleton\view( '/doc/en/Simpleton/System/option/reference' ); ?>
	
	<h2 class="dividing ui header">Return Values</h2>
	<p>
		Option value(s)
	</p>
	
	<h2 class="dividing ui header">Examples</h2>
	<p>
		Set multiple options:
	</p>
	<div class="ui segment">
<pre><code data-language="php">Simpleton\option(
[
    'handle_fatal'   => TRUE,
    'request_update' => FALSE
]);
</code></pre>
	</div>
	<p>
		Set a single option:
	</p>
	<div class="ui segment">
		<code data-language="php">Simpleton\option( 'handle_fatal', TRUE );</code>
	</div>
	<p>
		Get all options:
	</p>
	<div class="ui segment">
		<code data-language="php">$options = Simpleton\option();</code>
	</div>
	<p>
		Get a single option:
	</p>
	<div class="ui segment">
		<pre><code data-language="php">$errorController = Simpleton\option( 'controller_error' );
Simpleton\call( $errorController, Simpleton\option('method_default') );</code></pre>
	</div>
	
</div>