<div class="ui text container">
	
	<h1 class="dividing ui header"><a href="./">Simpleton\</a>route</h1>
	<p>
		Simpleton\route &mdash; Manually execute a route
	</p>

	<h2 class="dividing ui header">Description</h2>
	<p class="ui segment">
		<code data-language="php">mixed Simpleton\route( [string $route [, array $data]] )</code>
	</p>
	<p>
		Manually execute a route. This is the recommended method to programmatically execute a route vs call().
		Returns the controller method return value.
	</p>
	
	<h2 class="dividing ui header">Parameters</h2>
	<p>
		<dl>
			<dt><strong><kbd>route</kbd></strong></dt>
			<dd>Route to execute. May include controller, method, and key/value data pairs.</dd>
			
			<dt><strong><kbd>data</kbd></strong></dt>
			<dd>Array of data to pass to controller method</dd>
		</dl>
	</p>
	
	<h2 class="dividing ui header">Return Values</h2>
	<p>
		Controller method return value
	</p>
	
	<h2 class="dividing ui header">Examples</h2>
	<p class="ui segment">
		<code data-language="php">Simpleton\route( 'comment/form' );</code>
	</p>
	<p>
		Parameters included in the route (with data returned):
	</p>
	<p class="ui segment">
		<code data-language="php">$user = Simpleton\route( 'user/get/id/1' );</code>
	</p>
	<p>
		Parameters passed in as an array (with data returned):
	</p>
	<p class="ui segment">
		<code data-language="php">$user = Simpleton\route( 'user/get', ['id' => 1] );</code>
	</p>
	<p>
		Combination (with data returned):
	</p>
	<p class="ui segment">
		<code data-language="php">$json = Simpleton\route( 'user/get/format/json', ['id' => 1] );</code>
	</p>
	
	<h2 class="dividing ui header">See Also</h2>
	<p>
		<ul>
			<li><a href="./bootstrap">Simpleton\bootstrap</a> &mdash; Automatically process current route</li>
			<li><a href="./call">Simpleton\call</a> &mdash; Manually call controller method</li>
			<li><a href="./controller">Simpleton\controller</a> &mdash; Get controller path</li>
		</ul>
	</p>
	
</div>