<div class="ui text container">
	
	<h1 class="dividing ui header"><a href="./">Simpleton\</a>trigger</h1>
	<p>
		Simpleton\trigger &mdash; Execute all attached event handlers
	</p>

	<h2 class="dividing ui header">Description</h2>
	<p class="ui segment">
		<code data-language="php">array Simpleton\trigger( string $event [, array $arguments] )</code>
	</p>
	<p>
		 Execute all attached event handlers. Sends array of arguments by reference.
	</p>
	
	<h2 class="dividing ui header">Parameters</h2>
	<p>
		<dl>
			<dt><strong><kbd>event</kbd></strong></dt>
			<dd>The name of the event to execute handlers for.</dd>
			
			<dt><strong><kbd>arguments</kbd></strong></dt>
			<dd>
				An array of arguments to pass to event handlers (by reference).
			</dd>
		</dl>
	</p>
	
	<h2 class="dividing ui header">Return Values</h2>
	<p>
		Returns the arguments passed in. This allows event handlers to add data to the arguments array and by used by the triggering call or other event handlers.
	</p>
	
	<h2 class="dividing ui header">Examples</h2>
	<div class="ui segment">
<pre><code data-language="php">list( $label ) = Simpleton\trigger( 'format_label', array($label) );</code></pre>
	</div>
	
	<h2 class="dividing ui header">See Also</h2>
	<p>
		<ul>
			<li><a href="./on">Simpleton\on</a> &mdash; Attach an event handler</li>
			<li><a href="./off">Simpleton\off</a> &mdash; Remove an event handler</li>
		</ul>
	</p>
	
</div>