<div class="ui text container">
	
	<h1 class="dividing ui header">ClasClassSimpleton\method</h1>
	<p>
		ClasClassSimpleton\method &mdash; 
	</p>

	<h2 class="dividing ui header">Description</h2>
	<p class="ui segment">
		<code data-language="php">type ClassSimpleton\method( [type $arg] )</code>
	</p>
	
	<h2 class="dividing ui header">Parameters</h2>
	<p>
		<dl>
			<dt><strong><kbd>arg</kbd></strong></dt>
			<dd>description</dd>
		</dl>
	</p>
	
	<h2 class="dividing ui header">Return Values</h2>
	<p>
		Returns TRUE on success or FALSE on failure.
	</p>
	
	<h2 class="dividing ui header">Examples</h2>
	<div class="ui segment">
<pre><code data-language="php">$return = ClassSimpleton\method( $arg );</code></pre>
	</div>
	
	<h2 class="dividing ui header">See Also</h2>
	<p>
		<ul>
			<li><a href="./method2">ClassSimpleton\method2</a> &mdash; description</li>
		</ul>
	</p>
	
</div>