/* Header */

header.ui.menu.secondary.inverted
{
	height: 3rem;
	background-color: #223355;
}

footer.ui.menu.secondary.inverted
{
	height: 3rem;
	background-color: #111627;
}

main
{
	padding: 4rem 0; /* Move out from under header/footer */
}

@media only screen and (max-width: 480px)
{
	.mobile.hidden
	{
		display: none;
	}
}


/* Page */

code, kbd
{
    font-size: smaller;
}

.masthead
{
	color: white;
	text-align: center;
	background-color: #255799;
	background-image: linear-gradient(120deg, #2597CC, #255799);
	
	padding: 5rem 0;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.25);
    margin-top: -1rem;
    margin-bottom: 1rem;
}

.masthead h1
{
	margin: 0;
	font-size: 4rem;
}
