<div class="ui text container">
	
	<h1 class="ui dividing header">Documentation</h1>

	<h2>Topics</h2>
	<ul>
		<li>
			<a href="doc/en/overview">Overview</a>
		</li>
		<li>
			<a href="doc/en/getstarted">Getting Started</a>
		</li>
	</ul>
	
	<h2>Class</h2>
	<ul>
		<li>
			<a href="doc/en/Simpleton">Simpleton</a>
			<p>Core framework</p>
		</li>
		<li>
			<a href="doc/en/Model">Model</a>
			<p>Optional data model class</p>
		</li>
		<li>
			<a href="doc/en/ModelMapper">ModelMapper</a>
			<p>Optional database mapper class</p>
		</li>
	</ul>	
	
</div>