/**
 * PHP Highlight theme
 *
 * @author dwightbcoder.com
 * @author Dwight Brown
 * @version 1.0
 */

pre
{
	margin: 0;
	white-space: pre-wrap;
	line-height: 1em;
    tab-size: 4;
}

code
{
    background: none;
    border: none;
    word-wrap: break-word;
    color: #000;
    font-family: monospace;
}

code .comment
{
    color: #FF8000;
}

code .variable
{
	color: #0099BB; /* #0000BB */
}

code .keyword
{
	color: #007700;
}

code .constant,
code .constant.numeric
{
	color: #0000BB;
}

code .support
{
	color: #007700;
}

code .storage.function
{
	color: #007700
}

code .entity.name.function
{
	color: #0000BB;
}

code .function.call
{
	color: #0000BB;
}

code .string
{
	color: #DD0000;
}

code .support.namespace
{
	color: #0000BB;
}

code .storage.class
{
	color: #007700;
}

code .entity.name.class
{
	color: #0000BB;
}
