<!DOCTYPE html>
<html>
    <head>
		<!-- Standard Meta -->
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
		<meta name="description" content="">

		<title>Simpleton</title>
		
		<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
		<link rel="stylesheet" href="/static/github/ccampbell/rainbow/themes/php-highlight.css">
		<link rel="stylesheet" href="/static/local/css/default.css">
    </head>
    <body>
	    
	    <header class="top fixed ui inverted secondary pointing menu">
		    <nav class="ui container">
				<?php if ( ! isset($_GET['route']) ) $_GET['route'] = ''; ?>
				<a class="item <?=(! $_GET['route'] ) ? 'active' : ''?>" href="/">Simpleton</a>
				<a class="item <?=substr($_GET['route'],0,3) == 'doc' ? 'active' : ''?>" href="/doc">Documentation</a>
				
				<div class="right menu">
					<a class="item" href="//bitbucket.org/dwightbcoder/simpleton">
						<i class="bitbucket icon"></i>
						<span class="mobile hidden">
							Source Code
						</span>
					</a>
				</div>
			</nav>
	    </header>
		
		<main>
			<?php include S::view( $view ); ?>
		</main>
		
	    <footer class="bottom fixed inverted one item secondary ui menu">
		    <div class="ui container">
			    <div class="item">
				    Copyright &copy; 2013-2020 construct7
			    </div>
		    </div>
	    </footer>
		
		<script src="//code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
		<script src="//cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
		
		<script src="/static/github/ccampbell/rainbow/js/rainbow.min.js"></script>
		<script src="/static/github/ccampbell/rainbow/js/language/generic.js"></script>
		<script src="/static/github/ccampbell/rainbow/js/language/php.js"></script>
		
    </body>
</html>